/*********** LIST WIDGET**************/
QAbstractItemView
{
    color: rgb[completer_text];
    background-color: rgb[completer_background];
    alternate-background-color: rgb[completer_alt_background];
    font-size: [textsize]pt;
    height: 25px;
}
QListView::item:selected{
    background: rgb[completer_selected_background];
}


QListView::item:hover
{
    background-color:rgb[completer_hover_background];
    color: rgb[completer_text];
}



QTextEdit
{
    background-color: rgb[background];
}

QTextBrowser
{
    background-color: rgb[output_background];
}

QToolTip, QLabel#docTooltip {
    color: rgb[completer_text];
    background-color: rgb[completer_background];
    border: 1px solid rgb[highlight_line];
}

QListWidget#outlineList
{
    background-color: rgb[background];
    color: rgb[default];
    border: 1px solid rgb[highlight_line];
}

QLineEdit#outlineFilter
{
    background-color: rgb[background];
    color: rgb[default];
    border: 1px solid rgb[highlight_line];
    padding: 2px;
}
