/*******WIDGET********/

QWidget
{
    color: #b1b1b1;
    border: 1px solid rgb[window];
    background-color: rgb[window];
}

QWidget:disabled
{
    color: #555555;
    background-color: rgb[window];
}
QWidget:focus
{
    border: 1px solid rgb[highlight_line];
}

QWidget:item:hover
{
    background-color: rgb[highlight_line];
    color: white;
}

QWidget:item:selected
{
    background-color: rgb[highlight_line];
}

QSplitter::handle {
    background-color: rgb[window];
}

QSplitter::handle:horizontal {
    width: 3px;
}

QSplitter::handle:vertical {
    height: 3px;
}

QSplitter::handle:hover,
QSplitter::handle:pressed {
    background-color: rgb[highlight_line];
}
/**************TOOLBAR*************/

QToolBar QToolButton
{
    background: transparent;
    border: none;
}
QToolBar QToolButton:hover
{
    background: rgba(255, 255, 255, 20);
    border-radius: 6px;
}
QToolBar QToolButton:pressed
{
    background: rgba(255, 255, 255, 40);
}

/**************MAINWINDOW*************/

QMainWindow::separator
{
    background-color: rgb[highlight_line];
    color: white;
    padding-left: 4px;
    border: 1px solid rgb[highlight_line];
    spacing: 2px;
}

QMainWindow::separator:hover
{

    background-color: rgb[highlight_line];
    color: white;
    padding-left: 4px;
    border: 1px solid rgb[highlight_line];
    spacing: 3px;
}


/*****************MENUBAT*************/

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:selected
{
    /*background: transparent;*/
    background-color: rgb[highlight_line];
    color: white;

}

QMenuBar::item:pressed
{
    background-color: rgb[highlight_line];
    color: white;
}


/***************ITEM**************/

QAbstractItemView
{
    background-color: rgb[background];
}

QListView::item:selected{
    background: rgb[highlight_line];
}

/***************PUSHBUTTON***********/

QPushButton
{
    color: white;
    background-color: rgb[background];
    border-width: 1px;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
}

QPushButton:hover {
    background-color: rgb[highlight_line];
    color: white;
}

QPushButton:pressed
{
    background-color: rgb[highlight_line];
    color: white;
}
QPushButton:disabled
{
    background-color: rgb[background];
    color: rgb[highlight_line];
}

QPushButton:checked
{
    border-color: rgb[window];
    background-color: rgb[highlight_line];
}

/*********************MENU************/

QMenu
{
    border: 1px solid rgb[highlight_line];
    background-color: rgb[window];
}

QMenu::item
{
    padding: 2px 20px 2px 20px;
}

QMenu::item:selected
{
    color: white;
    background-color: rgb[highlight_line];
}

QMenu::tearoff
{
    background-color: rgb[background];
    border: 1px dashed rgb[highlight_line];
    height: 4px;
}

QMenu::tearoff:selected
{
    background-color: rgb[highlight_line];
}

QMenu::separator
{
    height: 2px;
    background-color: rgb[highlight_line];
    color: white;
    padding-left: 4px;
    margin-left: 20px;
    margin-right: 5px;
}


/**********************GROUPBOX**********/
QGroupBox:focus
{
    border: 1px solid rgb[highlight_line];
}

QGroupBox {
    border: 1px solid rgb[highlight_line];
    background: rgb[background];
    border-radius: 4px;
    margin-top: 1.5ex;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 10px;
    padding: 0 5px;
    background: rgb[background];
}

/***********SCROLLBAR***************/

QScrollBar:horizontal {
    border: 1px solid rgb[highlight_line];
    background: rgb[background];
    height: 15px;
    margin: 0px 16px 0 16px;
}

QScrollBar::handle:horizontal,
QScrollBar::handle:vertical {
    background: rgb[highlight_line];
    min-height: 20px;
    min-width: 20px;
    border-radius: 2px;
}

QScrollBar::handle:horizontal:pressed,
QScrollBar::handle:vertical:pressed {
    background: rgb[highlight_line];
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    border: 1px solid rgb[highlight_line];
    border-radius: 1px;
    background: rgb[window];
    width: 14px;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    border: 1px solid rgb[highlight_line];
    border-radius: 1px;
    background: rgb[window];
    height: 14px;
}

QScrollBar::add-line:horizontal:pressed,
QScrollBar::sub-line:horizontal:pressed,
QScrollBar::add-line:vertical:pressed,
QScrollBar::sub-line:vertical:pressed {
    background: rgb[highlight_line];
}

QScrollBar::sub-line:vertical {}

QScrollBar::add-line:vertical {}

QScrollBar::sub-line:horizontal {}

QScrollBar::add-line:horizontal {}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background: rgb[window];
    width: 15px;
    margin: 16px 0 16px 0;
    border: 1px solid rgb[highlight_line];
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical,
QScrollBar::right-arrow:horizontal,
QScrollBar::left-arrow:horizontal {
    border: 0px;
    width: 10px;
    height: 10px;
    background: rgb[window];
}

QScrollBar::up-arrow:vertical:pressed,
QScrollBar::down-arrow:vertical:pressed,
QScrollBar::right-arrow:horizontal:pressed,
QScrollBar::left-arrow:horizontal:pressed {
    background: rgb[highlight_line];
}

QScrollBar::up-arrow:vertical {
    border-image: url(../icons/arrow_left.png) 1;
}

QScrollBar::down-arrow:vertical {
    border-image: url(:/arrow_down.png) 1;
}

QScrollBar::right-arrow:horizontal {
    border-image: url(:/arrow_right.png) 1;
}

QScrollBar::left-arrow:horizontal {
    border-image: url(:/arrow_left.png) 1;
}


QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: rgb[background];
}




/*****************SPINBOX********************/

QSpinBox::up-button {
width: 16px;
}
QSpinBox::down-button {
width: 16px;
}
QSpinBox::up-button:hover, QSpinBox::down-button:hover
{
    background-color: rgb[highlight_line];
}


QSpinBox::up-button:pressed, QSpinBox::down-button:pressed
{
    background-color: rgb[highlight_line];
}

QSpinBox::up-arrow  {
    width: 7px;
    height: 7px;
}



/****************************************************/
 /******************TEXTEDIT****************/

QTextEdit
{
    background-color: rgb[background];
    border: 1px solid rgb[highlight_line];
}

QTextEdit:disabled
{
    background-color: rgb[background];
    color: rgb[comment];
    border: 1px solid rgb[highlight_line];
}

QTextEdit:focus {
    border: 1px solid rgb[highlight_line];
}

QTextBrowser
{
    background-color: rgb[output_background];
    border: 1px solid rgb[highlight_line];
}

QTextBrowser:disabled
{
    background-color: rgb[output_background];
    color: rgb[comment];
    border: 1px solid rgb[highlight_line];
}

QComboBox, QSpinBox, QAbstractSpinBox, QLineEdit, QAbstractItemView
{
    background-color: rgb[background];
    border: 1px solid rgb[highlight_line];
}

QComboBox:hover, QAbstractSpinBox:hover, QLineEdit:hover, QTextEdit:hover, QAbstractItemView:hover
{
    border: 1px solid rgb[highlight_line];
    color: rgb[highlight_line];
}

QComboBox:on, QSpinBox:on
{
    background-color: rgb[background];
    padding-top: 2px;
    padding-left: 2px;
}

QComboBox QAbstractItemView
{
    background-color: rgb[background];
    border-radius: 0px;
    border: 1px solid rgb[highlight_line];
}

QComboBox QAbstractItemView {
    border: 1px solid rgb[highlight_line];
    color: white;
    padding: 1px 1px 1px 1px;
    outline:none;
}

QSplitter {
    background-color: rgb[window];
}

QSplitter::handle {
    background-color: rgb[window];
}

QSplitter::handle:horizontal {
    width: 3px;
}

QSplitter::handle:vertical {
    height: 3px;
}

QSplitter::handle:hover, QSplitter::handle:pressed {
    background-color: rgb[highlight_line];
}

QTabWidget::pane  { /* The tab widget frame */
    border-top: 1px solid rgb[highlight_line];
}



QTabBar::tab {
    min-width: 80px;
    border: 1px solid rgb[tab_border];
    border-top-left-radius: [tab_radius];
    border-top-right-radius: [tab_radius];
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 2px;
    background: rgb[tab_background];
    color: rgb[tab_text];
}

QTabBar::tab:hover {
    background: rgb[tab_hover_background];
    border: 1px solid rgb[tab_hover_border];
    color: rgb[tab_hover_text];
}

QTabBar::tab:selected {
    background: rgb[tab_selected_background];
    color: rgb[tab_selected_text];
    border: 1px solid rgb[tab_selected_border];
    border-bottom-color: rgb[tab_selected_background];
}


QTabBar QToolButton::right-arrow {
    image: url("../icons/right_arrow.png");
}
QTabBar QToolButton::left-arrow {
    image: url("../icons/left_arrow.png");
}

QCheckBox::indicator:hover
{
    border: 1px solid rgb[highlight_line];
}

/**************CHECKBOX***************/

QCheckBox::indicator:checked
{
    background-color: rgb[background];
}

QCheckBox:disabled
{
color: #414141;
}

QCheckBox::indicator
{
    color: #b1b1b1;
    background-color: rgb[window];
    border: 1px solid rgb[highlight_line];
    width: 12px;
    height: 12px;
}

QCheckBox::indicator:disabled
{
    border: 1px solid rgb[highlight_line];
}
QCheckBox
{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/************** TABLE VIEW **************/
QTableView::item:selected {
    background-color: rgb[window];
}
QTableView QTableCornerButton::section  {
    background: rgb[window];
    border: 0px ;
}
QHeaderView{
    background: rgb[window];
}
 QHeaderView::section
{
    background: rgb[highlight_line];
    border: 1px solid rgb[highlight_line];
    padding: 2px 3px 2px 3px;
}

/*********** COMPLETER & SYMBOL WIDGET **************/
completeMenuClass, SymbolWidget QListWidget
{
    color: rgb[completer_text];
    background-color: rgb[completer_background];
    alternate-background-color: rgb[completer_alt_background];
    font-size: [textsize]pt;
    height: 25px;
}
completeMenuClass::item:selected, SymbolWidget QListWidget::item:selected {
    background: rgb[completer_selected_background];
}

completeMenuClass::item:hover, SymbolWidget QListWidget::item:hover
{
    background-color: rgb[completer_hover_background];
    color: rgb[completer_text];
}

QToolTip, QLabel#docTooltip {
    color: rgb[completer_text];
    background-color: rgb[completer_background];
    border: 1px solid rgb[highlight_line];
}

QListWidget#outlineList
{
    background-color: rgb[outline_background];
    color: rgb[default];
    border: 1px solid rgb[highlight_line];
}

QLineEdit#outlineFilter
{
    background-color: rgb[background];
    color: rgb[default];
    border: 1px solid rgb[highlight_line];
    padding: 2px;
}
